header{
  height: 100px;
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;

  .header_left{
    width: 40%;
    height: 100%;
    float: left;
    position: relative;

    img{
      height: 70px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .header_right{
    width: 60%;
    height: 100%;
    float: right;

    .main_menu{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      line-height: 100px;
      height: 100%;

        a{
          color: black;
        }

    }
  }
}
